/obj
/bin
*.dll
*.Up2Date
*.props
*.cache

apphost

hacknc25/obj/Debug/net9.0/hacknc25.AssemblyInfoInputs.cache
hacknc25/obj/Debug/net9.0/hacknc25.csproj.CoreCompileInputs.cache
hacknc25/obj/Debug/net9.0/hacknc25.csproj.FileListAbsolute.txt
hacknc25/obj/Debug/net9.0/hacknc25.dll
hacknc25/obj/Debug/net9.0/hacknc25.genruntimeconfig.cache
hacknc25/obj/Debug/net9.0/hacknc25.pdb
hacknc25/obj/Debug/net9.0/hacknc25.sourcelink.json
hacknc25/obj/Debug/net9.0/ref/hacknc25.dll
hacknc25/obj/Debug/net9.0/refint/hacknc25.dll
